<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Country</title>
    <style>
        header {
            background-color: #333; /* Header background color */
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }
        .visualization-container {
            margin-top: 50px; /* Add some space at the top */
            text-align: center; /* Center align content */
        }
        .visualization {
            margin-bottom: 50px; /* Add space between visualizations */
        }
        .tableauPlaceholder {
            margin: 0 auto; /* Center the visualization */
            width: 100%; /* Ensure visualization takes full width */
        }
        #div0{
            margin: 0 auto; /* This will center the division horizontally */
                    width: 50%; /* Adjust the width as needed */
                     /* Just for visualization */
                    
          }
    </style>
</head>

<body>
    <header>
        <h1>Visualization of filter Country</h1>
    </header>
    <div id="div0">
        <p>The visualization for:
            <ul>
                <li>Intensity</li>
                <li>Relevance</li>
                <li>Year</li>
                <li>Topics</li>
                <li>Region</li>
                <li>Likelihood</li>
            </ul>



        </p>
    </div>

    <div class="visualization-container">
        <div class="visualization" id="viz1">
            <div class='tableauPlaceholder' id='viz1715249591616' style='position: relative'>
                <noscript><a href='#'><img alt='Country(start,pestle) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countrystartyearpestle&#47;Countrystartpestle&#47;1_rss.png' style='border: none' />
                </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                    <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                    <param name='name' value='countrystartyearpestle&#47;Countrystartpestle' />
                    <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countrystartyearpestle&#47;Countrystartpestle&#47;1.png' />
                    <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' /><param name='language' value='en-US' />
                    <param name='filter' value='publish=yes' /></object>
            </div>               
            <script type='text/javascript'>                   
                var divElement = document.getElementById('viz1715249591616');
                var vizElement = divElement.getElementsByTagName('object')[0];     
                if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';}
                else { vizElement.style.width='100%';vizElement.style.height='727px';}                    
                var scriptElement = document.createElement('script');                  
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';       
                vizElement.parentNode.insertBefore(scriptElement, vizElement);      
            </script>
        </div>

        <div class="visualization" id="viz2">
            <div class='tableauPlaceholder' id='viz1715249720087' style='position: relative'>
                <noscript><a href='#'><img alt='Country(relevance,Topic) ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;F6&#47;F6GPBHW36&#47;1_rss.png' style='border: none' />
                </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                    <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;F6GPBHW36' />
                    <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;F6&#47;F6GPBHW36&#47;1.png' /> 
                    <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' /><param name='language' value='en-US' />
                    <param name='filter' value='publish=yes' /></object>
            </div>            
            <script type='text/javascript'>                    
                var divElement = document.getElementById('viz1715249720087');         
                var vizElement = divElement.getElementsByTagName('object')[0];       
                if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else { vizElement.style.width='100%';vizElement.style.height='727px';}                    
                var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';      
                vizElement.parentNode.insertBefore(scriptElement, vizElement);        
            </script>
        </div>

        <div class="visualization" id="viz3">
            <div class='tableauPlaceholder' id='viz1715249806527' style='position: relative'><noscript>
                <a href='#'><img alt='Country(region,sector,likelihood).. ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countryregion_17152497853770&#47;Countryregionsectorlikelihood__&#47;1_rss.png' style='border: none' />
                </a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                    <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                    <param name='name' value='countryregion_17152497853770&#47;Countryregionsectorlikelihood__' />
                    <param name='tabs' value='no' /><param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;co&#47;countryregion_17152497853770&#47;Countryregionsectorlikelihood__&#47;1.png' /> 
                    <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' /><param name='language' value='en-US' />
                    <param name='filter' value='publish=yes' /></object>
            </div>               
            <script type='text/javascript'>                
                var divElement = document.getElementById('viz1715249806527');            
                var vizElement = divElement.getElementsByTagName('object')[0];            
                if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} 
                else { vizElement.style.width='100%';vizElement.style.height='727px';}                 
                var scriptElement = document.createElement('script');                    
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';               
                vizElement.parentNode.insertBefore(scriptElement, vizElement);           
            </script>
        </div>
    </div>
</body>
</html>
